services:
  db:
    hostname: ${POSTGRES_HOST}
    image: postgres:16.3
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGPORT: ${POSTGRES_PORT}
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      start_period: 10s
      retries: 3
      interval: 360s
  irrigation:
    depends_on:
      db:
        condition: service_healthy
    image: ghcr.io/${DOCKER_REGISTRY}/openagri-irrigationmanagement:${TAG}
    build:
      context: .
      args:
        SOURCE_REPO: ${SOURCE_REPO}
    command: /code/entrypoint.sh ${SERVICE_PORT}
    ports:
      - ${SERVICE_PORT}:${SERVICE_PORT}
    env_file:
      - .env
